@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    color: #efefef;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    /*Created with https://www.css-gradient.com*/
    background: #202024;
    /* background-image: linear-gradient(to right, #27272c, #27272c, #27272c, #27272c, #27272c); */
    padding: 5vw 5vw 16vw;
    background-size: 400% 400%;
    animation: BgColor 15s ease infinite;
}


/* ======Bg Animation===== */
/* 
@keyframes BgColor {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */


#top-artist{
    display: none;
}







#left {
    background-size: cover;
    background-position: top;
    height: 25rem;
    background-color: #333333;
    width: 100%;
    order: 1;
}

#right {
    height: auto;
    width: 100%;
    padding: 5vw 3vw;
    order: 2;
    background-color: #2d2d34;
}


#right h3 {
    font-size: 2rem;
}



#all-songs {
    margin-top: 30px;
    height: 85%;
}

.song-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #ffffff15;
    padding: 15px 10px;
}

.song-card:hover {
    background-color: #202024;
}

.song-card .part-1 {
 width: 100%;
    pointer-events: none;
}
.song-card .part-1 p{
    margin-top:5px;
    font-size: 14px;
    color:#8f8a8a;
}


.song-card img {
    border-radius: 15px;
    height: 55px;
    width: 55px;
    object-fit:cover;
    margin-right: 20px;
}

.song-card h2 {
    font-size: 18px;
    font-weight: 600;
}

.song-card h6 {
    font-size: 16px;
    font-weight: 600;
}

.song-card:nth-last-child(1) {
    border-bottom: 1px solid #ffffff15;
}

#player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 12%;
    width: 100%;
    background-color: #5c7ae5;
    /* Fixed positioning */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}


#player h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;

}

#player h3 i {
    font-size: 18px;
    color:#5c7ae5;
}

#player h3:active {
    scale: 0.9;
}










/* Media Query for bigger screens */
@media (min-width: 868px) {

    html,
    body {
        height: 100%;
    }


#top-artist{
    width: 10%;
    height: 100%;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #2d2d34;
    display: block;
}
#top-artist h4{
    font-size: 16px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#top-artist h5{
    margin-top:5px;
    font-size: 13px;
    text-align: center;
    color:#8f8a8a;
}


.artist-items{
    margin-bottom: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist-items img{
    border-radius: 8px;
    height: 65px;
    width: 65px;
    object-fit:cover;
}

.artist-items h3{
    font-size: 14px;
    margin-top: 10px;
}
.artist-items p{
    margin-top:5px;
    font-size: 13px;
    color:#8f8a8a;
}
















    #all-songs{
        height: auto;
        margin-top:15px;
    }

    #main {
       
        height: 88%;
        padding: 3vw 10vw 3vw;
        align-items: center;
    }

    #left {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 100%;
        width: 35%;
        order: initial;
        margin-left:2rem;
   
    }

    #right {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 2vw 3vw;
        height: 100%;
        width: 45%;
        order: initial;
        overflow-y: scroll;
    }

    #player {
        position: static;
    }
}